/venv/
/.venv/
/.idea/
*.pdf
*.DS_Store
__pycache__/
/tg_bot/__pycache__/
*.pyc
tg_bot/AI-part/saiga_mistral_dnd_lora_colab/adapter_model.safetensors
tg_bot/AI-part/saiga_mistral_dnd_lora_colab/adapter_model.bin 
/config.json
