    # requirements.txt
    aiogram==3.5.0  # Или твоя версия aiogram
    torch==2.2.2   # Версии torch/transformers могут отличаться
    transformers[torch]==4.39.3
    peft==0.10.0
    accelerate==0.29.3
    bitsandbytes==0.43.1
    sentencepiece==0.2.0
    # Добавь другие зависимости, если они есть